
.containerBuscador{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#buscador{
    padding:30px;
    width: 50vw;
}
#resultado{
    padding:30px
}